@import "../../styles/Shared.module.scss";

.HeaderContainer {
	.Container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.LogoContainer {
			display: inline-block;
			cursor: pointer;
			h1 {
				font-size: 3rem;
				margin: 1.5rem 0;

				span {
					color: rgb(0, 212, 184);
				}
			}
		}

		.Links {
			font-weight: 600;

			a {
				display: inline-block;
				margin: 0 0.5rem;
			}

			@media (max-width: 600px) {
				display: none;
			}
		}
	}

	@media (max-width: 1080px) {
		padding: 0 2rem;
	}
}
