@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    zoom: 3;
}

li,
a {
    font-size: 16px;
    color: rgb(207, 207, 207);
    text-decoration: none;
}

header {
    display: flex;
    font-weight: 200;
    justify-content: space-between;
    align-items: center;
    padding: 5px 1%;
}

h4,
a {
    font-size: 25px;
    transition: all 0.3s ease 0s;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    font-size: 25px;
    transition: all 0.3s ease 0s;
}

html,
body {
    font-family: 'Fira Code', monospace;
    padding: 1em 2em;
    font-size: 18px;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0);
    color: rgb(207, 207, 207);
}

h1,
h2 {
    font-weight: 200;
    margin: 0.4em 0;
}

h1 {
    font-size: 3.5em;
}

h2 {
    color: rgb(179, 179, 179);
    font-size: 2em;
}

.embedpdf {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.svgl {
    position: absolute;
    top: 0%;
    left: 0%;
    animation: head 3s infinite;
}

#about {
    position: absolute;
    top: 20%;
    right: 0%;
}

#about1 {
    position: absolute;
    top: 33%;
    right: 0%;
}

#about2 {
    position: absolute;
    top: 48%;
    right: 0%;
}

#resume {
    position: absolute;
    top: 60%;
    left: 0%;
}

#contact {
    position: absolute;
    top: 75%;
    left: 0%;
}

#git {
    position: absolute;
    top: 90%;
    right: 0%;
}

#insta {
    position: absolute;
    top: 105%;
    right: 0%;
}

.svgl :hover {
    fill: rgb(138, 138, 138);
}

@keyframes head {
    0% {
        fill: rgb(138, 138, 138);
    }
    20% {
        fill: rgb(176, 255, 102);
    }
    40% {
        fill: rgb(255, 104, 205);
    }
    60% {
        fill: rgb(255, 244, 85);
    }
    80% {
        fill: rgb(61, 216, 255);
    }
    100% {
        fill: rgb(255, 62, 62);
    }
}