@import url('https://fonts.googleapis.com/css2?family=Lustria&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
    --main-color: rgb(198, 167, 164);
    --mist-black: rgb(42, 41, 46);
    --info-font: 'Varela Round', sans-serif;
}

body {
    background-image: radial-gradient( circle farthest-corner at -3.1% -4.3%, var(--main-color) 0%, rgb(236, 168, 162) 90%);
    animation: gradient 15s ease infinite;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    overflow-x: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.main-grid {
    font-family: 'Lustria', serif;
    margin-top: 12rem;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "sec-1 sec-2 sec-3 sec-4";
    align-content: center;
    justify-items: center;
}

.section-1 {
    display: block;
    grid-area: sec-1;
    transition: transform 0.5s ease-in-out;
    transform: rotateZ(-20deg) translateY(-5rem);
}

.section-1:hover {
    transform: rotateZ(0deg);
}

.section-2 {
    display: block;
    grid-area: sec-2;
    transition: transform 0.5s ease-in-out;
    transform: rotateZ(20deg) translateY(-5rem);
}

.section-2:hover {
    transform: rotateZ(0deg);
}

.section-3 {
    display: block;
    grid-area: sec-3;
    transition: transform 0.5s ease-in-out;
    transform: rotateZ(5deg) translateY(7rem);
}

.section-3:hover {
    transform: rotateZ(0deg);
}

.section-4 {
    display: block;
    grid-area: sec-4;
    transition: transform 0.5s ease-in-out;
    transform: rotateZ(-20deg) translateY(5rem);
}

.section-4:hover {
    transform: rotateZ(0deg);
}

.main-grid a {
    text-decoration: none;
    margin: 0.2rem;
    color: var(--mist-black);
}

.section-1::before {
    content: "Y";
    font-size: 20rem;
}

.section-1:hover::before {
    content: "";
}

.section-1:hover::after {
    content: "Twitter";
    font-size: 5rem;
}

.section-2::before {
    content: "A";
    font-size: 20rem;
}

.section-2:hover::before {
    content: "";
}

.section-2:hover::after {
    content: "LinkedIn";
    font-size: 5rem;
}

.section-3::before {
    content: "S";
    font-size: 20rem;
}

.section-3:hover::before {
    content: "";
}

.section-3:hover::after {
    content: "Medium";
    font-size: 5rem;
}

.section-4::before {
    content: "H";
    font-size: 20rem;
}

.section-4:hover::before {
    content: "";
}

.section-4:hover::after {
    content: "GitHub";
    font-size: 5rem;
}

.header {
    position: fixed;
    top: 0;
    font-family: var(--info-font);
}

.contact {
    position: fixed;
    top: 0;
    right: 0;
    font-family: var(--info-font);
    transform: rotateZ(-90deg) translateX(-2.2rem) translateY(2rem);
}

.contact a {
    text-decoration: none;
    color: var(--mist-black);
}

.social-cta {
    position: fixed;
    left: 0;
    bottom: 0;
    font-family: var(--info-font);
    transform: rotateZ(90deg) translateX(-7rem) translateY(7rem);
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
}

.footer a {
    width: 10rem;
    height: 1rem;
    text-decoration: none;
    color: var(--mist-black);
    font-family: var(--info-font);
}

.footer a::before {
    content: 'Software Engineer';
    text-decoration: none;
    color: var(--mist-black);
    transition: content 0.2s ease-in-out;
}

.footer a:hover::before {
    content: '';
}

.footer a:hover::after {
    content: 'RESUME';
}