@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");

* {
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 0%;
  padding: 0%;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 400px;
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.5s;
}

img {
  width: 300px;
}

.card .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
}

.card:hover .front {
  transform: rotateX(-180deg);
}

.card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 0.5s;
}

.card:hover .back {
  transform: rotateX(0deg);
  transform: rotate3d();
}

.card .back .details {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.card .back .details h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: #fff;
}

.card .back .details h2 span {
  color: rgb(145, 146, 145);
  font-size: 16px;
}
.card .back .details h3 {
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.social-icons a {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  background: #262626;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  transition: 0.5s;
}

.social-icons a .fa {
  line-height: 36px;
}

.social-icons a:hover {
  background-color: rgb(223, 0, 67);
}

/*.card .back .details .resume {
  position: absolute;
  transform: translate(-50%);
  width: 60%;
  height: 50px;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  border-radius: 30px;
}

.card .back .details .resa:hover {
  animation: animate 8s linear infinite;
  filter: blur(25px);
}

@keyframes amimate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
*/

.example_f {
  border-radius: 30px;
  background: linear-gradient(to right, #67b26b, #4ca2cb) !important;

  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.4s;
  cursor: pointer;
  box-sizing: border-box;
  margin: 5px;
}
.example_f span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.example_f span:after {
  content: '\2193';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.example_f:hover span {
  padding-right: 25px;
}
.example_f:hover span:after {
  opacity: 1;
  right: 0;
}
