@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

main {
	width: 80%;
	margin: auto;
}

body {
	font-family: 'Open Sans', sans-serif;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 4rem 4rem;
}

li {
	margin-top: 2rem;
	font-size: 1rem;
}
